$ngas-primary: var(--ngas-primary-color, #007bff);
$ngas-danger: var(--ngas-danger-color, #dc3545);
$ngas-highlight-text: var(--ngas-highlight-text-color, #ffffff);

$ngas-popup-margin: var(--ngas-popup-margin, -24px);

// ***********************************************************************************************************
// General layout
// ***********************************************************************************************************

// Top level container
.container {
  max-width: 100%;
  padding: 10px;
}

// Container for seach section (basic, advanced)
.search-container {
  margin-left: 0;
  margin-right: 15px;
  z-index: 100000000;
  //margin-bottom: .75rem;
}

// Container for advanced section only
.advanced-container {
  margin-left: -15px;
  margin-right: 0;
}

// Container for inserted outside content
.content-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

// ***********************************************************************************************************
// General classes
// ***********************************************************************************************************

// Class for mat-form-field element
.form-field {
  width: 100%;
}

// ***********************************************************************************************************
// Basic search
// ***********************************************************************************************************

// Main columns
.search-col {
  padding-left: 0;
  //min-height: 30px;
}

// Input field clear button
.input-button {
  border: none;
  background: none;
}

//.search-extra-col:hover {
//  opacity: 0.7;
//}

// Main column for advance search toggle
.advanced-search-col {
  cursor: pointer;
  color: $ngas-primary;
  display: flex;
  align-items: center;
  position: relative;
  white-space: nowrap;
}

// The label that show what mode can we switch to
.advanced-search-col-label {
  position: absolute;
  white-space: nowrap;
  //z-index: -10;
}

// Where we can configure saved filters
.saved-term-col {
  cursor: pointer;
  color: $ngas-primary;
  display: flex;
  align-items: center;
}

.italic-text {
  font-style: italic;
  font-weight: 100;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: from-font;
}

// ***********************************************************************************************************
// Advanced search, high-level
// ***********************************************************************************************************

// Toggle for advanced term link (AND / OR )
.advanced-search-link-display {
  cursor: pointer;
  color: $ngas-primary;
  max-width: 30px;
  padding: 0;
  margin-left: 15px;
  margin-right: 1.35rem;
  margin-top: 1.35rem;
  margin-bottom: 1.35rem;
  border-right: 1px solid $ngas-primary;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Container for every adv term row
.advanced-termrow-container {
  padding-left: 0;
  margin-left: -15px;
}

// Top level of a term row
.advanced-search-termrow {
  margin-left: 0;
  margin-right: 0;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  & div {
    margin: 10px 5px 0 5px;
  }
}

// Top level of an adv term row field
.advanced-search-field {
  display: flex;
  align-items: center;
  margin-top: -.75rem;
}

// Link for adding new adv term
.advanced-search-newrow {
  cursor: pointer;
  color: $ngas-primary;
  margin-bottom: 1.35rem;
  min-width: 150px;
}

// ***********************************************************************************************************
// Advanced search, field sepcifics
// ***********************************************************************************************************

// Field the rule applies to
//.advanced-search-column {
//  max-width: 160px;
//  min-width: 160px;
//}

// Is the rule negated, 1
.advanced-search-negate{
  cursor: pointer;
  //max-width: 70px;
  //min-width: 70px;
  //height: 60px;
}

// Is the rule negated, 2
.advanced-search-negate-label {
  width: 100%;
  text-align: center;
  color: $ngas-primary;
  margin-bottom: -4px;
}

// Criteria of rule ( =, !=, <, > )
.advanced-search-crit {
  //max-width: 138px;
  //min-width: 138px;
  min-width: fit-content;
}

// The term string
.advanced-search-term {
  max-width: 375px;
  //min-width: 375px;
}

// Delete term
.advanced-search-delrow {
  cursor: pointer;
  //max-width: 100px;
  //min-width: 100px;
  color: $ngas-danger;
  //height: 80px;
}