<div class="container-fluid px-4"> 
    <menu-crumb [crumbs]="crumbs"></menu-crumb>
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-end">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-primary" (click)="loadList()"><i class="fas fa-refresh"></i> Refresh</button> 
        </div>
      </div>
      <div class="card-body grid-container">
        <ag-grid-angular class="ag-theme-alpine"
                         [columnDefs]="columnDefinitions"
                         [rowData]="rows.Data"
                         (gridReady)="onGridReady($event)">
        </ag-grid-angular>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <list-paging [count]="rows.Count" (page-changed)="pageChanged($event)"></list-paging>
      </div> 
    </div>
  </div>