<div class="container-fluid app-modal">
    <form (ngSubmit)="onSubmit()" ngNativeValidate (keydown.enter)="onFormEnter()">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Copy Template</h4>
        </div>
        <div class="modal-body"> 
            <div class="mb-3">
                <label for="fname" class="form-label">Name</label>
                <input type="text" class="form-control" id="fname" required [(ngModel)]="data.name" name="name"
                    placeholder="eg: Awesome PDF Template" />
            </div> 
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" (click)="activeModal.close(hasChanges)">{{hasChanges ?
                'Close' : 'Cancel'}}</button>
        </div>
    </form>
</div>