<div class="accordion mb-3">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Cheat Sheet
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Problem</th>
                        <th scope="col">Description</th>
                        <th scope="col">Example</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Enter new line</td>
                        <td>Use Ctrl key and enter to insert new line</td>
                        <td>Ctrl + Enter</td>
                    </tr>
                    <tr>
                        <td>Helper Blocks</td>
                        <td>Use Comment block and put the helper inside</td>
                        <td ngNonBindable>
                            <pre>
&lt;!-- {{#each items}} --&gt;
    &lt;p&gt;{{item}}&lt;/p&gt;
&lt;!-- {{/each}} --&gt;
                                    </pre>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div style="height: 70vh">
    
</div>