
<div class="container-fluid px-4 dashboard">
    <h3 class="mt-4 mb-2">{{data.domain}}</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="card bg-primary text-white mb-4">
          <div class="card-header">Total Templates</div>
          <div class="card-body d-flex justify-content-end fw-bold fs-1">{{data.templates}}</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-warning text-white mb-4">
          <div class="card-header">Total Endpoints</div>
          <div class="card-body d-flex justify-content-end fw-bold fs-1">{{data.endpoints}}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-success text-white mb-4">
          <div class="card-header">Total Requests</div>
          <div class="card-body d-flex justify-content-end fw-bold fs-1">{{data.logs}}
          </div>
        </div>
      </div> 
    </div> 
  </div>